@model TSH_HOTELSS.Models.reviews

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>reviews</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.titlerev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titlerev)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hotels.nomhotel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hotels.nomhotel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.users.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.users.username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idrev }) |
    @Html.ActionLink("Back to List", "Index")
</p>
